{% extends 'base.html' %}
{% load staticfiles %}
{%block content %}
{% if user.is_authenticated %}
    {% if user.profile.categoria = "profesor" %}
        <center>
        <div class="item">
            <i class="material-icons"><a>
              <div class="inner"><p><p></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
            </a></i>
        </div>
            <!------No hace nada el item de arriba ------>
        <div class="item">
            <i class="material-icons" id="profile">person<a>
              <div class="inner"><p><br>perfil<p></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
            </a></i>
        </div>
        <div class="item">
            <i class="material-icons" id="settings">settings<a href="/listado_materias">
              <div class="inner"><p><br>materias<p></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
            </a></i>
        </div>

        <div class="item">
            <i class="material-icons" id="listass">description<a href="/register_preguntas">
              <div class="inner"><p><p></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
            </a></i>
        </div>

        <div class="item">
            <i class="material-icons" id="add_materia">mode_edit<a href="/">
              <div class="inner"><p><br><p></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
            </a></i>
        </div>

        <div class="item">
          <div class="inner"><p><p></div>
          <div class="border"></div>
          <div class="border"></div>
          <div class="border"></div>
          <div class="border"></div>
        </div>
            <div class="item">
              <div class="inner"><p><p></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
              <div class="border"></div>
            </div>
        </center>
    {% elif user.profile_a.categoria = "alumno" %}
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card-panel teal" id="a_1">
                  <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                  </span>
                </div>
            </div>
            <div class="col s12 m6 l3 offset-l1">
                <div class="card-panel blue" id="a_2">
                  <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                  </span>
                </div>
            </div>
            <div class="col s12 m6 l3 offset-l1">
                <div class="card-panel indigo lighten-1" id="a_3">
                  <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                  </span>
                </div>
            </div>
            <div class="col s12 m6 l3 offset-l1" id="a_4">
                <div class="card-panel amber lighten-2">
                  <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                  </span>
                </div>
            </div>
        </div>
    {%endif%}
{%else%}
    <center>
    <div class="row">
              <div class="col s4">
                  <h3>Que es esto</h3>
              </div>
              <div class="col s4">
                <h3>Para que es</h3>
              </div>
              <div class="col s4">
                <h3>Ventajas</h3>
              </div>
    </div>
    </center>
{%endif%}
<script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
{%endblock%}